<div class="stats-card" [ngClass]="colorClass">
  <div class="stats-card-content">
    <div class="stats-card-icon">
      <i [class]="'pi ' + icon"></i>
    </div>
    <div class="stats-card-info">
      <div class="stats-card-title">{{ title }}</div>
      <div class="stats-card-value">{{ value }}</div>
      <div class="stats-card-trend" *ngIf="trend" [ngClass]="trendClass">
        <i [class]="'pi ' + trendIcon"></i>
        {{ trend > 0 ? '+' : '' }}{{ trend }}%
      </div>
    </div>
  </div>
</div>
