<div class="search-bar">
  <div class="search-input-wrapper">
    <span class="p-input-icon-left" style="width: 100%;">
      <i class="pi pi-search"></i>
      <input 
        type="text" 
        pInputText 
        [(ngModel)]="searchTerm"
        [placeholder]="placeholder"
        (keyup.enter)="search()"
        style="width: 100%;" />
    </span>
    <button 
      *ngIf="searchTerm"
      pButton 
      icon="pi pi-times" 
      class="p-button-text"
      (click)="clearSearch()"></button>
    <button 
      pButton 
      icon="pi pi-search" 
      label="بحث"
      (click)="search()"></button>
  </div>
  
  <div class="search-filters" *ngIf="filters.length > 0">
    <div *ngFor="let filter of filters" class="filter-item">
      <label>{{ filter.label }}</label>
      <p-dropdown 
        [options]="filter.options"
        [(ngModel)]="selectedFilters[filter.field]"
        (onChange)="filterChanged(filter, $event.value)"
        [placeholder]="'اختر ' + filter.label"
        optionLabel="label"
        optionValue="value"
        [showClear]="true"></p-dropdown>
    </div>
  </div>
</div>
