<p-table 
  [value]="data" 
  [columns]="columns"
  [loading]="loading"
  [paginator]="paginator"
  [rows]="rows"
  [rowsPerPageOptions]="[10, 25, 50]"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="عرض {first} إلى {last} من {totalRecords} سجل"
  styleClass="p-datatable-sm"
  [globalFilterFields]="columns.map(col => col.field)"
  responsiveLayout="scroll">
  
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.sortable ? col.field : null">
        {{ col.header }}
        <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
      </th>
      <th style="width: 120px">الإجراءات</th>
    </tr>
  </ng-template>
  
  <ng-template pTemplate="body" let-rowData>
    <tr (click)="onRowClick(rowData)" style="cursor: pointer;">
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
      <td>
        <button 
          pButton 
          icon="pi pi-pencil" 
          class="p-button-rounded p-button-text p-button-sm"
          (click)="editRow(rowData); $event.stopPropagation()"></button>
        <button 
          pButton 
          icon="pi pi-trash" 
          class="p-button-rounded p-button-text p-button-danger p-button-sm"
          (click)="deleteRow(rowData); $event.stopPropagation()"></button>
      </td>
    </tr>
  </ng-template>
  
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="columns.length + 1" style="text-align: center;">
        لا توجد بيانات
      </td>
    </tr>
  </ng-template>
</p-table>
